/**
*
* Main Stylesheet For Visual Style Guide
*
**/

@import '_icons';
@import '_palette';
@import '_fonts';

paper-fab {
  background-color: $accent;
  color: $gray50;
}


#cart_menu_icon {
  position:absolute;
  right:9%;

  .notify_bubble {
    @extend .text-caption2;
    position:absolute;
    top: 3px;
    right: 6px;
    padding: 3px 5px 2px 5px;
    background-color: $accent;
    color: $white;
    line-height:1em;
    border-radius:30px;
    box-shadow:1px 1px 1px $gray700;
  }
}


.thumbnail {
  padding: 2.5em 1.5em 1.5em;
  margin-bottom: 0.5em;
  >div {
    cursor: pointer;
  }

  .image_detail {
    height: 0;
    padding-bottom: 150%;
    position: relative;
    overflow: hidden;

    img {
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: -9999px;
      right: -9999px;
      margin: auto;
      &.cropWidth {
        height: 99%;
      }
      &.cropHeight {
        width: 99%;
      }
    }
  }

  .details {
    .name {
      padding: 10px 8px 4px;
      text-align: center;
      border-bottom: 1px solid $black12;
      background-color: $gray50;
    }
    .more {
      padding: 12px 12px 6px;
      background-color: $gray100;
      .action {
        text-align: right;
        paper-button {
          @extend .text-button;
          color: $primaryLight;
          fill: $primaryLight;
        }
      }
      .price>div {
        width: 60px;
        text-align: center;
        white-space: nowrap;
        .mrp {
          @extend .text-caption;
          min-height: 0.9em;
          >div {
            border-bottom: 1px solid $black12;
          }
        }
      }
    }
  }
}

.image_detail {
  height: 0;
  position: relative;
  overflow: hidden;

  img {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: -9999px;
    right: -9999px;
    margin: auto;
    &.cropWidth {
      height: 99%;
    }
    &.cropHeight {
      width: 99%;
    }
  }
}

.main-footer {
  background: $gray800;
  padding: 56px 0;
  margin-top: 128px;

  p, ul {
    margin: 1em 0;
    padding: 1em 0;
  }

  .main-footer__container {
    display: block;
    width: 85%;
    max-width: 1300px;
    margin:0 auto;
    box-sizing: border-box;
  }

  .main-footer__list-group {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    >div {
      flex-shrink: 2;
      flex-grow: 1;
    }
    >div:nth-child(2) {
      flex-shrink: 1;
      flex-grow: 2;
    }
  }

  .footer-title {
    text-align: center;
    word-spacing: 8px;
  }

  .lead_part {
    font-family: 'Roboto Condensed', sans-serif;
    color: $gray600;
    font-weight: 300;
    font-size: 28px;
  }

  .brand {
    font-family: 'Roboto Condensed', sans-serif;
    color: $gray600;
    font-weight: 700;
    font-size: 28px;
  }

  .main-footer__list  {
    @extend .text-menu;
    list-style: none;
    padding-right:30px;
    text-align: right;
  }

  .main-footer__contacts {
    >div:first-child {
      @extend .text-body2;
      color: $gray500;
    }
    margin: 1em 0;
    padding: 1em 0 0 30px;
    text-align: left;
    color: $gray500;
  }

  #footer_about {
    @extend .text-body2;
    border-left: 1px solid $white20;
    border-right: 1px solid $white20;
    min-height: 250px;
    text-align: justify;
    padding:0 2em;
    color: $gray400;
  }

  a {
    color: $gray500;
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }
}

@media all and (max-width: 640px) {
  .main-footer__list-group {
    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;

    .nav-content{
      order: 3;
      .main-footer__list{
        text-align: left;
      }
    }
    .main-content{ order: 1; }
    .contact-content{
      order: 2;
      .main-footer__contacts{
        padding-left: 0;
      }
    }
  }
}


@media all and (min-width: 640px) {
  .main-footer__list-group {
    -webkit-flex-flow: row;
    flex-flow: row;
    flex-direction: row;

    .nav-content{ order: 1; }
    .main-content{ order: 2; }
    .contact-content{ order: 3; }
  }
}

#product_board {
  >.other_nav {
    display:none;
  }

  #product_title {
    @extend .text-display1;
    font-weight: 300;
    font-family: "Roboto Condensed", serif;
    margin: 1em 0 1em;
  }

  #product_image>img {
    max-width: 100%;
    margin-bottom: 56px;
  }

  #product_features {
    margin-bottom: 50px;
    >div {
      padding-left: 2em;
    }
    #stock_status {
      @extend .text-menu;
      color: green;
      margin-bottom: 6px;
    }
    .product_property {
      padding: 6px 0;
      color: $black54;
    }
  }

  .property_caption {
    @extend .text-caption;
    margin-top: 10px;
    color: $black26;
    text-transform: uppercase;
  }

  #product_buy {
    text-align: center;
    >div {
      padding-left: 2em;
    }
    #price {
      position: relative;
      >div {
        display: inline-block;
        vertical-align: bottom;
      }
      #selling_price {
        @extend .text-display3;
        color: $accent;
        font-weight: 100;
        margin-top: -14pt;
        margin-left: -8px;
        i {
          font-size: 0.4em;
          vertical-align: bottom;
          line-height: 1em;
          display: inline-block;
          margin-bottom: 18px;
          color: rgba($accent, .87);
        }
      }
      #list_price {
        position: absolute;
        padding-left: 24px;
        bottom: 9pt;
        color: $black54;
      }
    }

    #cart_submit {
      padding-left: 18px;
      padding-right: 18px;
      background: $primaryDark;
      color: $gray100;
      &:hover {
        background: $primary;
      }
      &::shadow #ripple {
        color: $white20;
      }
    }

    #policy_benefits {
      >div {
        display: inline-block;
        text-align: left;
      }
      @extend .text-caption2;
      text-transform: uppercase;
      font-family: "Roboto Condensed", sans-serif;
      padding: 6px 8px;
      margin-top: 18px;
      color: $black54;
    }
  }

  .other_nav {
    >div {
      padding-left: 2em;
    }

    @extend .text-caption2;
    text-transform: uppercase;

    #category_list {
      @extend .text-caption;
      color: $accent;
      padding: 12px 0;
      margin-top: 0;
      li {
        padding-left: 0;
        list-style: none;
        cursor: pointer;
      }
    }
  }

  #product_left_pane>.other_nav>div {
    padding-left: 0;
    padding-top: 32px;
  }

  #product_description {
    border-top: 1px solid $black12;
    margin-top: 36px;
    >div {
      padding-left: 2em;
      padding-top: 24px;
    }

    .section_mast {
      @extend .text-title;
      line-height: 25px;
      display: inline-block;
      background-color: $gray200;
      color: $gray500;
      border-radius: 80px;
      text-align: center;
      padding: 7px 10px;
      margin-left: -10px;
    }

    .section_title {
      display: inline-block;
      @extend .text-caption2;
      padding-left: 8px;
      text-transform: uppercase;
    }

    .section_content {
      margin:12px 42px 32px;
      color: $black54;
    }
    ul {
      padding: 0;
    }
  }

  #product_right_pane {
    padding-left: 4em;
  }

  /* Product Variant */
  .caption {
    display: inline-block;
    padding: 4px 14px;
  }

  .default-option {
    margin: 0 5px 5px 0;
    border: 1px lightgray dotted;
  }

  .selectable {
    cursor: pointer;
    border: 1px lightgray solid;
  }

  .active {
    border: 1px slateblue solid;
  }

  .filtered {
    background: url("/images/diagonal-noise.png");
  }
}

@media all and (max-width: 568px) {
  #product_left_pane>.other_nav {
    display: none;
  }

  #product_board>.other_nav {
    display: block;
  }

  #product_description {
    margin-bottom: 36px;
  }

  #product_board #product_right_pane {
    padding-left: 0;
  }
}

@media all and (max-width: 1024px) {
  #product_board #product_buy {
    text-align: left;
    #price {
      #selling_price {
        margin-left: 0;
      }
    }
  }
}


#load-msg {
  position: fixed;
  background: $black87;
  bottom: 4%;
  right: 2%;
  z-index: 1000;
  padding: 12px 18px;
  color: $gray100;
  text-align: center;
  white-space: nowrap;
  width: 200px;
}

#orderDetailsButton {
  top: 8px;
  padding: 0 10px;
  position: relative;
  display: inline-block;
  background: $primary;
  color: $gray50;
  &::shadow #ripple {
    color: $white20;
  }
}

#track_order {
  float: right;
  padding-top: 39px;
  font-size: 0.8em;
  line-height: 1.3em;
}

#idOrKyashcode {
  display: inline-block;
  position: relative;
  width: 140px;
}
