<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${c.merchant.name}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="${c.merchant.name.title()} Online Store">
    <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Page styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- Polymer Polyfill -->
    <script src="components/platform/platform.js"></script>

    <link rel="import" href="components/paper-fab/paper-fab.html">
    <link rel="import" href="/scripts/kyash-icons.html">
</head>

<body ng-app="shop" ng-controller="HomeCtrl" ng-class="{fb_store: is_fb_store}">

<div id="fb-root"></div>
<kyash-icons></kyash-icons>

<header class="app-bar promote-layer ng-cloak" ng-cloak ng-class="{hidden: is_fb_store}">
    <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo">
            <a href="/">
                <img ng-src="{{ merchant.logo }}" title="{{ merchant.name }}" ng-if="merchant.logo" ng-click="window.location.url='/'"/>
                <span ng-if="!merchant.logo">{{ merchant.name }}</span>
            </a>
        </h1>
    </div>
</header>

<nav class="navdrawer-container promote-layer ng-cloak" ng-cloak>
    <h4>Navigation</h4>
    <ul>
        <li ng-class="{active: activeCategory == 'Featured'}"><a href="#" ng-click="categoryList('Featured')">FEATURED</a></li>
        <li ng-repeat="cat in categories | filter:'!Featured'" ng-class="{active: activeCategory == cat}">
            <a href="#" ng-click="categoryList(cat)">{{cat | uppercase}}</a>
        </li>
        <li id="cart_menu_icon">
            <div>
                <a href="#" title="Shopping Cart" ng-click="go_to_cart();"> <i class="icon icon-cart"></i></a>
                <div class="notify_bubble" ng-class="{hidden: cart_item_count <= 0}">{{cart_item_count}}</div>
            </div>
        </li>
    </ul>
</nav>

<main class="ng-cloak" ng-cloak>
    <div id="products_list" class="pure-g" ng-controller="CtgCtrl">
        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-4" ng-repeat="product in productList">
            <div class="product thumbnail" ng-click="showProduct(product)" onmouseover="$(this).find('.thumbnail_shadow').attr('z', '1');" onmouseout="$(this).find('.thumbnail_shadow').attr('z', '0');">
                <div>
                    <paper-shadow class="thumbnail_shadow" z="0" animated="true"></paper-shadow>
                    <div class="image_detail">
                        <!--<img class="pure-img" ng-src="{{ product.photo[0][2] }}"/>-->
                        <img src="https://unsplash.it/300/450/?random" scalable/>
                    </div>
                    <div class="details">
                        <div class="name">{{product.name}}</div>
                        <div class="more pure-g">
                            <div class="price pure-u-1-2">
                                <div>
                                    <div class='mrp'>
                                        <div ng-if="product.mrp && product.mrp != product.unit_price"><strike>&#8377; {{product.mrp}}</strike></div>
                                    </div>
                                    <div ng-if="product.unit_price">
                                        <i class="icon icon-inr"></i> {{product.unit_price}}
                                    </div>
                                </div>
                            </div>
                            <div class="action pure-u-1-2">
                                <paper-button label="BUY" ng-if="product.unit_price"></paper-button>
                                <paper-button label="ENQUIRE" ng-if="!product.unit_price"></paper-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product_board" class="pure-g" ng-controller="PdtCtrl" hidden>
        <div class="pure-u-1" id="product_title"><span class="large">{{product.name}}</span></div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3">
            <!--<img class="pure-img" ng-src="{{ product.photo[0][1] }}" ng-if="product.photo[0]">-->
            <img class="pure-img" src="http://lorempixel.com/300/450/fashion/" ng-if="product.photo[0]">
            <br/>
            <div class="small color--remember" >Browse Other Products In:</div>
            <ul id="category_list" class="small color--learning">
                <li ng-repeat="category in product.categories"> <a class="color--learning" href="#" ng-click="categoryList(category)">{{category}}</a></li>
            </ul>
        </div>
        <div id="product_details" class="pure-u-1 pure-u-sm-2-3 pure-u-md-2-3">
            <div ng-if="is_purchasable">
                <span class="color--highlight large">
                    <span class="mrp" ng-if="product.mrp"><strike>{{product.mrp}}</strike></span>
                    <span class="selling_price"> <strong>{{product.unit_price}}</strong></span>
                </span>
                <button class="button--primary base" ng-click="addCart()"> <i class="icomoon-cart"> </i> Add to Cart</button>
            </div>
            <p ng-if="product.units_available > 0" class="color--user" style="margin-top:0; padding-top:10px; padding-left:5px;"><i style="vertical-align: baseline; font-size: 0.9em;" class="icon icon-tick"></i> In Stock</p>
            <p ng-if="product.units_available <= 0" class="color--danger" style="margin-top:0; padding-top:10px; padding-left:5px;">Out Of Stock</p>
            <div><span class="color--gray-keyline" style="width:75px;">Product Code</span> <span class="color--gray-medium">{{product.short_code}}</span></div>
            <div class="articles-section">
                <ol class="articles-list">
                    <li class="articles-list__item color--muted" ng-if="product.description">
                        <div>
                            <pre>{{product.description}}</pre>
                        </div>
                    </li>
                    <div class="divider divider--secondary divider--short"><span class="divider-icon divider-icon--secondary"></span></div>
                </ol>
            </div>
            <div>
                <a href="#" class="cta--primary">Cancellation Policies & Refunds</a>
            </div>
        </div>
    </div>
</main>

<footer class="main-footer">
    <div class="main-footer__container clear">
        <div class="footer-title"><span class="lead_part">About</span> <span class="brand">${c.merchant.name.title()}</span></div>
        <div class="pure-g main-footer__list-group">
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-4" style="text-align: right">
                <ul class="main-footer__list">
                    <li><a href="/privacy_policy">Privacy Policy</a></li>
                    <li><a href="/terms_of_use">Terms of Use</a></li>
                    <li><a href="/delivery">Delivery</a></li>
                    <li><a href="/cancellations_and_returns">Cancellations and Returns</a></li>
                    <li><a href="/refunds">Refunds</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-2">
                <div id="footer_about"><p class="small">${c.merchant.description}</p></div>
            </div>
            <div class="pure-u-1 pure-u-sm-1-3 pure-u-md-1-4">
                <div class="main-footer__contacts">
                    <div>${c.merchant.name.title()}</div>
                    <div>${c.org.registered_address.street}</div>
                    <div>${c.org.registered_address.city} - ${c.org.registered_address.pincode}</div>
                    <div>+91 ${c.org.registered_address.phone}</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>

<!-- build:js scripts/main.min.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<script>
    app.provider('KyashConstants', function () {
        // default values
        var values = {
            merchant: {
                id: '${c.merchant.key.id()}',
                short_code: '${c.merchant.short_code}',
                custom_domain: '${c.merchant.custom_domain or ""}'
            },
            is_fb_store: ${'true' if c.is_fb_store else 'false'},
            cart_item_count: ${c.cart_item_count},
            cart_id: '${c.cart_order.key.id() if c.cart_order else ""}'
        };
        return {
            $get: function () {
                return values;
            }
        };
    }).run(function ($rootScope, KyashConstants) {
        $rootScope.merchant = KyashConstants.merchant;
        $rootScope.is_fb_store = KyashConstants.is_fb_store;
        $rootScope.cart_item_count = KyashConstants.cart_item_count;
        $rootScope.cart_id = KyashConstants.cart_id;

        if($rootScope.is_fb_store) {
            window.fbAsyncInit = function() {
                FB.init({
                    appId   : '${config.FB_APP_ID}', //Your facebook APP here
                    cookie  : false,
                    version : 'v2.1'
                });
            };

            window.onload = function() {
                FB.Canvas.setAutoGrow(100);
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }

        $rootScope.go_to_cart = function() {
            var url = 'http://';
            if ($rootScope.merchant.custom_domain.trim() != '') {
                url += $rootScope.merchant.custom_domain.trim() + '/';
            }
            else {
                url += $rootScope.merchant.short_code.trim() + '.kyash.com/';
            }
            url += 'cart/?cart_id=' + $rootScope.cart_id;

            console.log(url, $rootScope.is_fb_store);
            if($rootScope.is_fb_store) {
                console.log('Opening new window.');
                window.open(url);
            }
            else {
                window.location = url;
            }
        }
    });
</script>

<!-- Built with love using Web Starter Kit -->
</body>
</html>