<!doctype html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${c.merchant.name}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="${c.merchant.name.title()} Online Store">
    <link rel="apple-touch-icon-precomposed" href="images/apple-touch-icon-precomposed.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!-- Page styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- Polymer Polyfill -->
    <script src="bower_components/platform/platform.js"></script>
    <link rel="import" href="bower_components/paper-button/paper-button.html">
    <link rel="import" href="bower_components/paper-input/paper-input.html">
</head>

<body ng-app="shop" ng-controller="HomeCtrl" ng-class="{fb_store: isFBStore, work_in_progress: active.loading}" class="work_in_progress">

<div id="fb-root"></div>
<kyash-icons></kyash-icons>

<header class="app-bar promote-layer ng-cloak" ng-cloak ng-class="{hidden: isFBStore}" class="hidden">
    <div class="app-bar-container">
        <button class="menu"><img src="images/hamburger.svg" alt="Menu"></button>
        <h1 class="logo" ng-click="reload()">
            <img ng-src="{{ merchant.logo }}" title="{{ merchant.name }}" ng-if="merchant.logo"/>
            <span ng-if="!merchant.logo">{{ merchant.name }}</span>
        </h1>

        <div id="track_order">
            <paper-input id="idOrKyashcode" label="KyashCode"></paper-input>
            <paper-button id="orderDetailsButton" label="Track" ></paper-button>
        </div>
    </div>
</header>

<nav class="navdrawer-container ng-cloak" ng-cloak>
    <h4>Navigation</h4>
    <ul id="std-menu-items">
        <li ng-class="{active: active.category == 'Featured'}" class="active"><a href="#" ng-click="categoryList('Featured')">FEATURED</a></li>
        <li ng-repeat="cat in categories | filter:'!Featured'" ng-class="{active: active.category == cat}">
            <a href="#" ng-click="categoryList(cat)">{{cat | uppercase}}</a>
        </li>
        <li ng-if="moreCategories.length > 0">
            <a href="#">More<i class="icon icon-arrow-down"></i></a>
            <ul>
                <li ng-repeat="mcat in moreCategories" ng-class="{active: active.category == mcat}">
                    <a href="#" ng-click="categoryList(mcat)">{{mcat | uppercase}}</a>
                </li>
            </ul>
        </li>
        <li id="cart_menu_icon">
            <div>
                <a href="#" title="Shopping Cart" ng-click="goToCart();"> <i class="icon icon-cart"></i></a>
                <div class="notify_bubble" ng-show="cartItemCount > 0">{{cartItemCount}}</div>
            </div>
        </li>
    </ul>
</nav>

<main class="ng-cloak" ng-cloak>
    <div id="products_list" class="pure-g" ng-controller="CtgCtrl" ng-show="active.view=='list'">
        <div class="product pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4 pure-u-xl-1-4" ng-repeat="product in productList">
            <div class="thumbnail">
                <div ng-click="showProduct(product)" hoverlift>
                    <paper-shadow z="0" animated="true"></paper-shadow>
                    <div class="image_detail">
                        <img ng-src="{{ product.photo[0][2] }}" scalable/>
                        <!--<img ng-src="https://unsplash.it/300/500/?random" scalable/>-->
                    </div>
                    <div class="details">
                        <div class="name">{{product.name}}</div>
                        <div class="more pure-g">
                            <div class="price pure-u-1-2">
                                <div>
                                    <div class='mrp'>
                                        <div ng-if="product.mrp && product.mrp != product.unit_price"><del>&#8377; {{product.mrp}}</del></div>
                                    </div>
                                    <div ng-if="product.unit_price">
                                        <i class="icon icon-inr" style="vertical-align: bottom;"></i> {{product.unit_price}}
                                    </div>
                                </div>
                            </div>
                            <div class="action pure-u-1-2">
                                <paper-button label="BUY" ng-if="product.unit_price"></paper-button>
                                <paper-button label="ENQUIRE" ng-if="!product.unit_price"></paper-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="product_board" class="pure-g" ng-controller="PdtCtrl" ng-show="active.view=='product'" ng-cloak>
        <div id="product_title" class="pure-u-1"><span>{{product.name}}</span></div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-5-12 pure-u-xl-1-3">
            <div id="product_left_pane" class="pure-g">
                <div id="product_image" class="pure-u-1" ng-if="product.photo[0]">
                    <img ng-src="{{imageUrl}}"/>
                    <!--img src="https://unsplash.it/600/800/?random"-->
                    <div ng-if="product.photo.length > 1">
                        <div class="image_detail product_thumbnail" ng-repeat="image in product.photo" ng-click="viewImage(image[1])">
                            <img ng-src="{{image[1]}}" scalable/>
                            <!--img src="https://unsplash.it/600/800/?random" scalable-->
                        </div>
                    </div>
                </div>

                <div class="other_nav pure-u-1">
                    <div>
                        <div>PRODUCT CODE</div>
                        <span class="product-code">#{{product.short_code}}</span>
                    </div>
                    <div>
                        <div>Browse Other Products In:</div>
                        <ul id="category_list">
                            <li ng-repeat="category in product.categories" ng-click="categoryList(category)">{{category}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="pure-u-1 pure-u-sm-1-2 pure-u-lg-7-12 pure-u-xl-2-3">
            <div id="product_right_pane" class="pure-g">
                <div id="product_features" class="pure-u-1 pure-u-lg-2-5 pure-u-xl-1-2">
                    <div>
                        <div id="stock_status">
                            <span ng-if="selectedVariant.units_available > 0">In Stock</span>
                            <span ng-if="selectedVariant.units_available <= 0">Out Of Stock</span>
                        </div>
                        <div id="attributes" class="product_property">
                            <div ng-repeat="attr in attributes">
                                <div class="property_caption">{{attr}}</div>
                                <div ng-bind-html="product[attr] | attrValue"></div>
                            </div>
                        </div>
                        <div id="other_attributes" class="product_property">
                            <div ng-repeat="(k, v) in fullAttributes">
                                <div class="property_caption">{{k}}</div>
                                <div ng-repeat="(key, data) in v" style="display: inline-block">
                                    <div class="default-option" ng-class="{filtered: data.filtered, active: data.active, selectable: data.selectable}">
                                        <div class="caption" ng-click="filterToggle(k, key)" ng-switch="checkColorRegEx(data.caption)" title="{{ data.selectable ? 'Option Available' : 'Click for other option'}}">
                                            <span ng-switch-when="true" ng-style="{'background': data.caption, 'padding': '2px 10px', 'margin': '-5px'}"></span>
                                            <span ng-switch-default>{{data.caption}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="product_buy" class="pure-u-1 pure-u-lg-3-5 pure-u-xl-1-2">
                    <div ng-if="isPurchasable">
                        <div id="price">
                            <div id="selling_price"><i class="icon icon-inr"></i><span>{{selectedVariant.unit_price}}</span></div>
                            <div id="list_price" ng-if="selectedVariant.mrp && selectedVariant.mrp != selectedVariant.unit_price">
                                <div class="property_caption">MRP</div>
                                <del style="white-space: nowrap;"><i class="icon icon-inr"></i> {{selectedVariant.mrp}}</del>
                            </div>
                        </div>
                        <paper-button id="cart_submit" raisedButton label=" ADD TO CART " class="primary" ng-click="addCart()"></paper-button>
                        <div id="policy_benefits" ng-if="isFreeshipping(product) || isCOD(product)">
                            <div>
                                <div ng-if="isFreeshipping(product)">
                                    <i class="icon icon-checkmark2"></i> Free Delivery
                                </div>
                                <div ng-if="isCOD(product)">
                                    <i class="icon icon-checkmark2"></i> Payment On Delivery
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="product_description" class="section pure-u-1">
                    <div>
                        <div ng-if="product.description">
                            <div class="section_mast"><i class="icon icon-quill"></i></div>
                            <div class="section_title">DESCRIPTION</div>
                            <div class="section_content">
                                <pre>{{product.description}}</pre>
                            </div>
                        </div>
                        <div class="section_mast"><i class="icon icon-truck"></i></div>
                        <div class="section_title">Returns & Refunds</div>
                        <div class="section_content">
                            <div class="content">
                                <ul>
                                    <li>
                                        <div ng-if="policy.cancel_before_shipping">
                                            Cancellation charges for returns before the product is shipped: <span class="text-secondary"> {{policy.cbs_charges | charges}} </span>
                                        </div>
                                        <div ng-if="!policy.cancel_before_shipping">
                                            Returns are not allowed after purchase.
                                        </div>
                                    </li>
                                    <li ng-if="policy.cancel_before_shipping">
                                        <div ng-if="policy.cancel_before_delivery">
                                            Cancellation charges for returns after shipping: <span class="text-secondary"> {{policy.cbd_charges | charges}} </span>
                                        </div>
                                        <div ng-if="!policy.cancel_before_delivery">
                                            Returns are not allowed after the product has been shipped by us.
                                        </div>
                                    </li>
                                    <li ng-if="policy.cancel_before_shipping && policy.cancel_before_delivery">
                                        <div ng-if="policy.cancel_after_delivery">
                                            Cancellation charges for returns after delivery: <span class="text-secondary"> {{policy.cad_charges | charges}} </span>
                                        </div>
                                        <div ng-if="!policy.cancel_after_delivery">
                                            Returns are not allowed after the product has been delivered to you.
                                        </div>
                                    </li>
                                    <li>For non-COD orders, full refunds are given if order is not delivered within 15 days or when defective/wrong products are delivered. Customer will have up to 3 days after delivery to claim refunds for defective/wrong shipments for non-COD orders.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="other_nav pure-u-1">
            <div>
                <div>PRODUCT CODE</div>
                <span class="product-code">#{{product.short_code}}</span>
            </div>

            <div>
                <div>Browse Other Products In:</div>
                <ul id="category_list">
                    <li ng-repeat="category in product.categories" ng-click="categoryList(category)">{{category}}</li>
                </ul>
            </div>
        </div>
    </div>
</main>

<footer class="main-footer">
    <div class="main-footer__container clear">
        <div class="footer-title"><span class="lead_part">About</span> <span class="brand">${c.merchant.name.title()}</span></div>
        <div class="pure-g main-footer__list-group">
            <div class="nav-content pure-u-1 pure-u-sm-1-3 pure-u-md-1-4" style="text-align: right">
                <ul class="main-footer__list">
                    <li><a href="/privacy_policy">Privacy Policy</a></li>
                    <li><a href="/terms_of_use">Terms of Use</a></li>
                    <li><a href="/delivery">Delivery</a></li>
                    <li><a href="/cancellations_and_returns">Cancellations and Returns</a></li>
                    <li><a href="/refunds">Refunds</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                </ul>
            </div>
            <div class="main-content pure-u-1 pure-u-sm-1-3 pure-u-md-1-2">
                <div id="footer_about"><p class="small">${c.merchant.description}</p></div>
            </div>
            <div class="contact-content pure-u-1 pure-u-sm-1-3 pure-u-md-1-4">
                <div class="main-footer__contacts">
                    <div>${c.merchant.name.title()}</div>
                    <div>${c.org.registered_address.street}</div>
                    <div>${c.org.registered_address.city} - ${c.org.registered_address.pincode}</div>
                    <div>+91 ${c.org.registered_address.phone}</div>
                    <div>${c.merchant.contact_us_email}</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="load-msg" ng-show="active.loading">
    <i class="icon icon-spin icon-spinner"></i> &nbsp; &nbsp; Loading...
</div>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-sanitize.js"></script>

<!-- build:js scripts/main.min.js -->
<script src="scripts/main.js"></script>
<!-- endbuild -->

<script>
    app.provider('KyashConstants', function () {
        // default values
        var values = {
            merchant: {
                id: '${c.merchant.key.id()}',
                shortCode: '${c.merchant.short_code}',
                customDomain: '${c.merchant.custom_domain or ""}'
            },
            isFBStore: ${'true' if c.is_fb_store else 'false'},
            cartItemCount: ${c.cart_item_count},
            cartId: '${c.cart_order.key.id() if c.cart_order else ""}',
            policy: ${c.sales_policy_str}
        };
        return {
            $get: function () {
                return values;
            }
        };
    }).run(function ($rootScope, KyashConstants) {
        angular.extend($rootScope, KyashConstants);

        if($rootScope.isFBStore) {
            window.fbAsyncInit = function() {
                FB.init({
                    appId   : '${config.FB_APP_ID}', //Your facebook APP here
                    cookie  : false,
                    version : 'v2.1'
                });
            };

            window.onload = function() {
                FB.Canvas.setAutoGrow(100);
            };

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        }
    });

    var input = document.querySelector('#idOrKyashcode');
    var trkBtn = document.querySelector('#orderDetailsButton');

    trkBtn.addEventListener('click', function() {
        window.location = '/'+input.inputValue;
    })

</script>
<!-- Built with love using Web Starter Kit -->
</body>
</html>
